<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Only One Option</title>
</head>
<body>
    <form>
        <label>
            <input type="checkbox" name="option" value="option1">
            Option 1
        </label><br>

        <label>
            <input type="checkbox" name="option" value="option2">
            Option 2
        </label><br>

        <label>
            <input type="checkbox" name="option" value="option3">
            Option 3
        </label><br>
    </form>
</body>
</html>
